:host {
  display: block;
}

mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;

  mat-checkbox {
    margin: auto;
    scale: 1.3;
  }

  mat-form-field {
    width: 100%;
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
